**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/bld
**/core
**/docker-compose.dcproj
**/node_modules
**/npm-debug.log
**/obj
**/TestResults
**/wwwroot
